{% extends 'base.html.twig' %}

{% block title %}Cave index{% endblock %}

{% block body %}
{#    <h1>Cave index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Name</th>#}
{#                <th>Address</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for cave in caves %}#}
{#            <tr>#}
{#                <td>{{ cave.id }}</td>#}
{#                <td>{{ cave.Name }}</td>#}
{#                <td>{{ cave.Address }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('cave_show', {'id': cave.id}) }}">show</a>#}
{#                    <a href="{{ path('cave_edit', {'id': cave.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="4">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('cave_new') }}">Create new</a>#}
{% endblock %}
