{% extends 'base.html.twig' %}


{% block body %}
    {{ dump(caveId) }}
    {{ dump(user) }}
    {{ dump(test) }}
    {% include '/modal/vins/add-vin-modal.html.twig' %}
    <h1 class="page-title">Mes vins</h1>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <button type="button" class="btn-add vin btn btn-primary btn-lg text-decoration-none"
                data-toggle="modal"
                data-target="#addVinModal">
            Créer
        </button>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Milésime</th>
                <th>Région</th>
                <th>Couleurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vin in vins %}
            <tr>
                <td>{{ vin.Name }}</td>
                <td>{{ vin.Milesime }}</td>
                <td>{{ vin.Region }}</td>
                <td>{{ vin.couleurs }}</td>
                <td>
                    <a href="{{ path('vins_show', {'id': vin.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                    <a href="{{ path('vins_edit', {'id': vin.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
