{% extends 'base.html.twig' %}


{% block body %}
    {% include '/modal/vins/add-vin-modal.html.twig' %}
    <h1 class="page-title">Mes vins</h1>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <button type="button" class="btn-add vin btn btn-primary btn-lg text-decoration-none"
                data-toggle="modal"
                data-target="#addVinModal">
            Ajouter
        </button>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Milésime</th>
                <th>Région</th>
                <th>Couleurs</th>
                <th>Quantité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vin in vins %}
            <tr>
                <td>{{ vin.Name }}</td>
                <td>{{ vin.Milesime }}</td>
                <td>{{ vin.Region }}</td>
                <td>{{ vin.couleurs.name }}</td>
                <td>{{ vin.quantite.quantite }}</td>
                <td class="td-action">
                    <a class="btn btn-primary btn-sm" href="{{ path('vins_show', {'id': vin.id}) }}" role="button">Détail</a>
                    {{ include('vins/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
