{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vins</h1>
    <div class="detail">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vin.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vin.Name }}</td>
            </tr>
            <tr>
                <th>Productor</th>
                <td>{{ vin.Productor }}</td>
            </tr>
            <tr>
                <th>Appelation</th>
                <td>{{ vin.Appelation }}</td>
            </tr>
            <tr>
                <th>Cepage</th>
                <td>{{ vin.Cepage }}</td>
            </tr>
            <tr>
                <th>Milesime</th>
                <td>{{ vin.Milesime }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ vin.Region }}</td>
            </tr>
            </tbody>
        </table>
        <div class="vins-image">
            <img class="img-vin" src="../images/account.png">
        </div>
    </div>
    <div class="detail-modifier">
        <a class="btn btn-primary btn-lg" href="{{ path('vins_edit', {'id': vin.id}) }}">Modifier</a>
    </div>
{% endblock %}
