{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vins</h1>
    <div class="detail">
        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ vin.Name }}</td>
            </tr>
            <tr>
                <th>Producteur</th>
                <td>{{ vin.Productor }}</td>
            </tr>
            <tr>
                <th>Appelation</th>
                <td>{{ vin.Appelation }}</td>
            </tr>
            <tr>
                <th>Cepage</th>
                <td>{{ vin.Cepage }}</td>
            </tr>
            <tr>
                <th>Milesime</th>
                <td>{{ vin.Milesime }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ vin.Region }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                {% if vin.couleurs is null %}
                    <td>undefined</td>
                {% else %}
                    <td>{{ vin.couleurs.name }}</td>
                {% endif %}

            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ vin.quantite.quantite }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ vin.img }}</td>
            </tr>
            </tbody>
        </table>
        <div class="vins-image">
            <img class="img-vin" src="../images/{{vin.img}}">
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
    <div class="detail-modifier">
        <a class="btn btn-primary btn-lg" href="{{ path('vins_edit', {'id': vin.id}) }}">Modifier</a>
    </div>
    {% endif %}
{% endblock %}
